@import "../../../styles/vars.scss";
.astroAncor {
  text-decoration: none;
  width: 20rem;

  @media (max-width: $midScreen) {
    font-size: 1rem;
    width: 20rem;
  }
  @media (max-width: $smallScreen) {
    font-size: 1rem;
    width: 90%;
  }
  .component {
    display: flex;
    flex-direction: column;
    color: white;
    background: $appBackground;
    border: 1px solid hsla(225, 20%, 80%, 0.5);
    border-radius: 5px 5px 0 0;
    font-size: 1.2rem;
    transition: filter 0.5s;
    transition: border 0.5s;
    &:hover {
      border: 1px solid wheat;
      filter: sepia(0.2);
    }
    .preview {
      height: 7rem;
      background-color: grey;
      opacity: 0.4;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $midScreen) {
        height: 6rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .desc {
      height: 35%;
      min-height: 5.5rem;
      padding: 0.5rem;
      font-size: 1em;
      h3 {
        text-align: center;
        font-size: 1.2em;
      }
    }
    .tech {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0.5rem;
      flex-wrap: wrap;
      position: relative;
      min-height: 3rem;

      .techSlot {
        background-color: $primaryColor;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        border-radius: 5px;
        font-size: 0.8em;
        flex-grow: 0;
        width: fit-content;
        height: fit-content;
        gap: 0.2rem;
      }
      .moreIcon {
        align-self: flex-end;
        margin-bottom: 0.1rem;
        font-size: 1.5rem;
        font-weight: 800;
      }
    }
  }
}
