$smallScreen: 550px;
$midScreen: 1000px;
$maxScreen: 1800px;
$appBackground: linear-gradient(
  109.61deg,
  hsl(216, 65%, 11%) 0%,
  hsl(216, 43%, 9%) 100.87%
);
$primaryColor: hsla(226, 19%, 60%, 1);
$secondaryColor: hsla(226, 19%, 80%, 1);
$branchesOpacity: 0.4;
$desktopScrollTrackColor: hsla(216, 43%, 9%, 0);
$desktopScrollThumbColor: hsla(225, 28%, 32%, 1);
$desktopScrollThumbHoverColor: "";
