---
import Layout from "../layouts/Layout.astro";
---

<Layout pageName="Contact">
  <div>
    <p>
      Well, Hi! Don’t know why you here, even less why you wanna read bout me
      but... if you want! Who am i to stop you! Well, hi again! Am Pavel and
      this is my side that i create as part of portfolio and part of just
      personal space for me to store my project and ideas and share them with my
      friends in a more then “just links” way.
    </p>
    <p>
      as a person who likes to create, I was always drawn to find the perfect
      medium for me, I tried everything, but none gave me the creative freedom I
      needed because none of them reflected my vision. Only programming allowed
      me to combine them together and truly create what I want! I love to create
      a story, whether it's through pictures, sound or storytelling, and
      programming allows me to combine it all into one great interactive
      adventure. Due to the above, it was not strange that my goal became Game
      Dev and creating my own worlds. However, I don't limit myself to just
      that, I find something beautiful and I feel excited every time I make
      "something out of nothing" whether it's a game or a program or a website
    </p>
  </div>
  <div></div>
</Layout>

<style>
  p {
    color: wheat;
  }
</style>
