---
import Layout from "../layouts/Layout.astro";
---

<Layout pageName="Projects" />
<p>test</p>
<style>
  .tata {
    color: green;
    font-size: 2rem;
  }
  p {
    color: white;
    font-size: 4rem;
  }
</style>
