---
const { class: className } = Astro.props;
---

<div class:list={["desc", className]}>
  <p>you can search them by name or #Tags based on usage or technology</p>
</div>
<style lang="scss">
  @import "../styles/vars";
  .desc {
    p {
      color: $secondaryColor;
      font-size: 1.3rem;
      font-weight: 500;

      @media (max-width: $smallScreen) {
        font-size: 1rem;
      }
    }
  }
</style>
