---
import Loop from "../svg/Loop.svg";
const { class: className } = Astro.props;
---

<div class:list={["searchBox", className]}>
  <img alt="" src="/svg/Loop.svg" />
  <input type="text" placeholder="search..." />
</div>
<style lang="scss">
  @import "../styles/vars";

  .searchBox {
    position: relative;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.4rem;
    @media (min-width: $smallScreen) {
      padding-top: 5rem;
    }

    input {
      background: none;
      border: none;
      outline: none;
      font-size: 1.7rem;
      font-weight: 700;
      width: 10rem;
      padding-block: 0.5rem;
      color: wheat;
      @media (max-width: $midScreen) {
        font-size: 1.2rem;
        width: 8rem;
      }
      &::placeholder {
        color: hsla(226, 19%, 60%, 1);
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.4rem;
      bottom: 0;
      left: 0;
      border-radius: 0 0 5px 5px;
      background-color: hsla(226, 19%, 60%, 1);
    }
  }
</style>
