---
export async function getStaticPaths() {
  const par = await Astro.glob("../../data/projects/*.md");
  return par.map((post) => ({
    params: { project: post.frontmatter.title },
    props: { post },
  }));
}

const { project } = Astro.params;
const { post } = Astro.props;
---

<div>Good dog, {project}!</div>
<div>{post.frontmatter.description}</div>
