---
interface Props {
  pageName: string;
}
import NavBar from "../components/navBar.astro";
import "../styles/globalStyle.astro";
import "@fontsource/roboto";
const { pageName } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="My personal page" />
    <title>{pageName}</title>
  </head>
  <body>
    <img alt="" src="/secBranch.svg" id="bodyBranch" />
    <NavBar />
    <slot />
  </body>
  <style lang="scss">
    @import "../styles/vars";

    body {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-inline: auto;
      height: 100svh;
      max-width: $maxScreen;
      background: $appBackground;
      overflow-x: hidden;
      #bodyBranch {
        position: absolute;
        right: -1rem;
        top: 40%;
        width: 25rem;
        height: 25rem;
        // z-index: -1;
        pointer-events: none;
        opacity: $branchesOpacity;
        @media (max-width: $smallScreen) {
          left: -1rem;
          transform: scaleX(-1);
        }
      }
    }
  </style>
</html>
